@model Instrumusicals.Models.CategoryImage

@{
    ViewData["Title"] = "Edit";
}
<div class="row justify-content-center text-center">
    <div class="w-75">
        <h2>Change <a class="text-light" asp-action="Details" asp-controller="Categories" asp-route-id="@Model.Category.Id">@Model.Category.Name</a> Category Image</h2>
        <hr />
        <a class="text-light" asp-action="Index">All Category Images</a>
        <br />
        <a class="text-secondary" asp-action="Index" asp-controller="Categories">All Categories</a> |
        <a class="text-secondary" asp-action="Index" asp-controller="Home">Homepage</a> 

    </div>
</div>
<br />

<div class="row text-center justify-content-center">
    <div class="w-50">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @if (Model.Image != null)
                {
                    string img = Convert.ToBase64String(Model.Image);
                    <img src="data:img/png;base64,@img" height="300" width="300" style="border-radius:30px" />
                }
                <hr />
            </div>
            <div class="form-group row justify-content-center">
                <input asp-for="ImageFile" class="form-control w-50 bg-dark text-light" accept="image/*" style="border-radius:100px;" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div style="visibility:hidden" class="form-group">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn text-success border border-success"
                       style="border-radius:100px;"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
