@model Instrumusicals.Models.Instrument

@{
    ViewData["Title"] = "Create";
}
<div class="row justify-content-center text-center">
    <div class="w-50">
        <h2>Create a New Instrument!</h2>
        <a class="text-secondary m-1" asp-action="Index">All Instruments</a> | 
        <a class="text-secondary m-1" asp-controller="Home" asp-action="Index">Homepage</a> 
        <br/>
        <hr />
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="w-50">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row justify-content-center">
                <input asp-for="Name" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" placeholder="Name" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <input asp-for="Brand" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" placeholder="Brand" autocomplete="off" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center m-2">
                <label class="control-label">Choose a Category:</label>
                <select asp-for="CategoryId" class ="form-control w-50 bg-dark text-light text-center m-2"  asp-items="ViewBag.CategoryId" ></select>
            </div>
            <div class="form-group row justify-content-center">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" autocomplete="off" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center"> 
                <input asp-for="Description" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" placeholder="Description" autocomplete="off" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center"> 
                <input asp-for="Quantity" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" placeholder="Quantity" autocomplete="off" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center"> 
                <input asp-for="Price" class="form-control w-50 bg-dark text-light text-center m-2" style="border-radius:100px;" placeholder="Price" autocomplete="off" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn text-primary border border-primary m-3" style="border-radius:100px;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
