<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Instrumusicals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand text-danger bg-dark border-da p-2" style="border-radius:100px; border: solid 2px" asp-area="" asp-controller="Home" asp-action="Index">Instrumusicals</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-light bg-dark border-warning" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light bg-dark border-warning" asp-area="" asp-controller="Instruments" asp-action="Index">Instruments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light bg-dark border-warning" asp-area="" asp-controller="Instruments" asp-action="Index">Brands</a>
                        </li>
                        @{
                            if ((Context != null) && (Context.User != null) && (!String.IsNullOrEmpty(Context.User.Identity.Name)))
                            { // User is logged
                                <div class="m-auto justify-content-center text-center">Hello, @Context.User.Identity.Name</div>
                                <li class="nav-item">
                                    <a class="nav-link text-light bg-primary border-light" style="font-weight: bold;" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="0">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark bg-transparent border-danger" style="font-weight: bold; font-size:large" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                                </li>
                                @if (Context.User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark bg-danger border-dark" style="font-weight:bold ;" asp-area="" asp-controller="Users" asp-action="Admin">Admin's Panel</a>
                                    </li>
                                }

                            }
                            else
                            { // no logged user
                                <li class="nav-item">
                                    <a class="nav-link text-light bg-primary border-dark" style="font-weight: bold;" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light bg-success border-dark" style="font-weight: bold;" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-light bg-dark border-warning" asp-area="" asp-controller="Users" asp-action="Cart">Cart</a>
                            </li>

                        }


                    </ul>
                </div>
                @if ((Context != null) && (Context.User != null) && (!String.IsNullOrEmpty(Context.User.Identity.Name)))
                {@*<div class="block justify-content-center text-center">Hello, @Context.User.Identity.Name</div>*@}
            </div>
        </nav>
        <hr />
    </header>
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; DMS 2021 - Instrumusicals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
