@{
    ViewData["Title"] = "Awww :(";
}

<div class="m-5 text-light text-center m-auto bg p-5 bg-dark" style="border-radius: 100px;">
    <h2 >Aawwwww!!! =/</h2>
    <h1 class="text-danger"> Something went wrong!</h1>
    <h2>Nothing to do?!</h2>
    <h4>Cheer up, don't go <span class="text-primary">BLUE</span>!!! Go <a class="text-white" asp-action="Index" asp-controller="Home">back to home page</a> instead!!!</h4>
</div>