@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="text-center m-auto bg-primary p-5 bg-secondary">
    <h3 >Aawwwww</h3>
    <h1 class="text-danger"> No permissions for you!</h1class="text-danger">
        <h4>Cheer up, don't go <span class="text-primary">blue</span>!!!</h4>
    <a class="text-light" asp-action="Index" asp-controller="Home">Back to home page</a>
</div>