<h1>Cart</h1>
@{
    if (Context != null && Context.User != null)
    {
        <h3>Welcome to your cart, @Context.User.Claims.Where(c => c.Type == "FullName").Select(c => c.Value).SingleOrDefault()</h3>
    }
}