@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "_LoginLayout";
}

<h1>Login!</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <hr />
            @if(ViewBag.Error != null)
            {
                <div class="text-danger">
                    @ViewBag.Error
                </div>
            }
            <div class="form-group" style="display:flex; justify-content:space-between;">
                <input type="submit" value="Login!" class="btn btn-primary" />
                <a asp-action="Register" class="text-secondary">Register Here!</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
