@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<div class="bg-dark text-light">
    <div style="height:100px;"></div>

    <h1 class="text-center">Login!</h1>
    <hr />

    <div style="height:70px;">
        <h5> We've missed you </h5>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post" class="card bg-dark pt-2 pr-4 pl-4 pb-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label >Email</label>
                    <input asp-for="Email" class="form-control bg-dark text-light m-3" autocomplete="off"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label>Password</label>
                    <input asp-for="Password" class="form-control bg-dark text-light m-3" />
                </div>
                <hr />
                <div style="height:50px">
                    @if (ViewBag.Error != null)
                    {
                        <div class="text-danger">
                            @ViewBag.Error or <a class="text-danger" asp-action="Register">register</a>!
                        </div>
                    }
                    else
                    {
                        <div class="text-success">
                            WELCOME BACK!
                        </div>
                    }
                </div>
                <div class="form-group" style="display:flex; justify-content:space-between;">
                    <input type="submit" value="Login!" class="btn btn-primary" style="width:100%" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">
        <br />
        <a asp-action="Register">Register Here!</a>
        <br />
        <a asp-action="Index" asp-controller="Home" class="text-secondary">Back to Home Page</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
