@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Hello @Context.User.Identity.Name!</h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Profile</button>
    <button type="button" class="btn btn-secondary">Cart</button>
    <button type="button" class="btn btn-secondary">Orders</button>
    <button type="button" class="btn btn-secondary">Reviews</button>
    <button type="button" class="btn btn-secondary">Security & Privacy</button>
</div>

