@model Instrumusicals.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";

}

@*<div style="height:20px;"></div>*@

<h6>New to Instrumusicals? </h6>
<h3>Register!</h3>
<hr />

<div style="height:0px;"></div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register" class="card pt-2 pr-4 pl-4 pb-1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{ if (ViewBag.Areas != null)
                    {
                        <label class="control-label">Choose your state area</label>
                        <select name="area" asp-items="ViewBag.Areas"></select>
                    }
                    else
                    {
                        <span>Please include your area with one of the following:
                        <br/>
                        "Center", "North", "East", "South" or "West" </span>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SIGN UP" class="btn btn-primary" style="width:100%" />
            </div>
            @if (!String.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
        </form>
    </div>
</div>

<div>
    <h5>Already a member?</h5>
    <h6><a asp-action="Login">Click here</a> to Login!</h6>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
