@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align: center; width: 70%; display:block; margin-left: auto; margin-right: auto;">
    
    <h1>@ViewData["Title"]</h1>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce erat sem, convallis sed ex in, congue rutrum turpis. Sed a ultricies lorem. Fusce efficitur ligula vitae erat volutpat, quis vestibulum dolor pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc leo nibh, pulvinar id ligula at, vehicula luctus augue. Praesent a tortor tempor, pretium libero sed, pretium nulla. Sed tincidunt elit eu est accumsan dapibus. Sed interdum libero sit amet libero pretium, sed consequat dolor vehicula. Nulla tempor, sapien nec interdum fringilla, lorem arcu consequat urna, vel luctus libero urna vel nunc. Suspendisse dapibus mattis quam sed semper. Donec vitae orci ac enim consectetur vestibulum sed id lectus.
        </p>
        <p>
            Praesent mollis sapien lacus, sed euismod ex rutrum ut. Nam eget nisl et sem mollis rutrum vitae id lacus. Integer nec volutpat orci. Vivamus orci sem, facilisis id erat quis, aliquam aliquet risus. Aenean pulvinar, erat eget lacinia vehicula, mi mi ultrices nisl, id venenatis justo lacus eget magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tellus purus, tempus tincidunt scelerisque at, molestie sed lorem. Proin mi nibh, tempus id consequat a, rutrum eu ligula. Etiam eu pellentesque odio, vel dapibus purus. Maecenas diam massa, suscipit eget tortor vel, finibus cursus lectus.
        </p>
        <p>
            Aenean nec arcu molestie, egestas ipsum non, aliquam velit. Fusce vitae fermentum velit. Suspendisse cursus erat ac elit volutpat gravida quis vel dolor. Donec mollis, felis vitae porta tincidunt, arcu elit rhoncus quam, non tincidunt augue nibh ut nisl. Integer tortor erat, viverra ac dapibus eu, venenatis vel velit. Vivamus nisl nibh, interdum eu imperdiet sed, vulputate non purus. Aenean suscipit ante et consectetur tempus. Fusce varius arcu sit amet nibh congue, at efficitur odio laoreet. Aliquam viverra est sapien, vel convallis arcu eleifend vel.
        </p>
        <p>
            Ut pretium diam mi, sit amet scelerisque diam porta ac. Aenean elementum lectus mauris, eu sagittis lorem consequat at. In volutpat venenatis tempus. Nulla at placerat massa. Vestibulum aliquet sapien vitae vulputate semper. Cras vel purus lacinia tortor molestie elementum. Quisque eros est, sollicitudin quis dolor eu, vehicula laoreet nisl. Donec sollicitudin lacus nec felis efficitur egestas. Etiam consequat ex at metus condimentum molestie. Proin pellentesque interdum augue, ut suscipit nisi ultrices et. Etiam tortor felis, suscipit vel velit eget, laoreet efficitur lectus. Suspendisse imperdiet nulla quis enim suscipit, a sodales arcu malesuada. Integer mattis rutrum aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>
            Pellentesque ullamcorper erat fermentum nisi semper maximus. Pellentesque neque odio, maximus vitae cursus ut, posuere sit amet velit. Pellentesque enim magna, fringilla eu magna ut, mollis suscipit diam. Proin interdum auctor tortor. Donec ipsum ipsum, tempor ut est eget, consequat auctor ante. Fusce aliquam tincidunt nisi eget bibendum. Donec justo elit, faucibus sed malesuada sit amet, lobortis at tellus. Etiam varius molestie risus eget condimentum. Phasellus tincidunt libero arcu, quis sollicitudin quam lobortis nec. In hac habitasse platea dictumst. Vestibulum et eleifend lectus.
        </p>
    </section>
</div>