@model Instrumusicals.Models.Review

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row text-center justify-content-center">
    <div class="w-50">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @if (ViewBag.Instrument != null)
                {
                    <h3>
                        Review
                        <a asp-action="Details" asp-controller="Instruments" asp-route-id="@ViewBag.Instrument.Id" class="text-light">
                            @ViewBag.Instrument.Name
                        </a>
                    </h3>
                }
                @if (Context.User != null && Context.User.IsInRole("Admin"))
                {<a asp-action="Index" class="text-light">All Reviews</a><br />}
                <a asp-action="Index" asp-controller="Home" class="text-secondary">Homepage</a>
            </div>
            <hr />
            @if (ViewBag.InstrumentId != null)
            {
                <div class="form-group">
                    <input asp-for="Content" class="form-control bg-dark text-light text-center border border-2" rows="5" placeholder="Write your review here ... " style="border-radius:100px" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="form-group d-none" name="instrument" value="@ViewBag.InstrumentId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit!" class="btn text-primary border border-primary m-5 w-25" style="border-radius:100px" />
                </div>
            }
            else
            {
                <span class="text-danger">No instrument identifier to refer!</span>
                <h3>Choose an <a asp-action="Index" asp-controller="Instruments"> instrument</a></h3>
            }
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
