@model Instrumusicals.Models.Review

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                @if (ViewBag.Instrument != null)
                    {<h3>Review @ViewBag.Instrument.Name</h3>}
                
            </div>

            <div class="form-group">
                <input asp-for="Content" class="form-control" multiple placeholder="Write your review here ... "/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.InstrumentId != null)
                {
                    <input class="form-group d-none" name="instrument" value="@ViewBag.InstrumentId" />
                }
                else
                {
                    <span class="text-danger">No instrument identifier to refer!</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
